POSTGRES_DB=taski
POSTGRES_USER=taski_user
POSTGRES_PASSWORD=taskipassword123
POSTGRES_HOST=db
POSTGRES_PORT=5432
SECRET_KEY=django-insecure-taski-key-12345
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
